@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1627536577686') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\e622";
}

.icon-icon-user:before {
  content: "\e63c";
}

.icon-icon-test:before {
  content: "\e60b";
}

.icon-dingdan:before {
  content: "\e6ad";
}

.icon-quanxian:before {
  content: "\e7ae";
}

.icon-yonghu:before {
  content: "\e6fe";
}

.icon-shangpin:before {
  content: "\f0fb";
}

